In [2]:
import pandas as pd

In [ ]:
import pwd

pwd

'/home/cvt/Documents/masterarbeit/eval-synth-data-privacy'

In [14]:
df_drugs = pd.read_csv('wig2/testdata/test.drugs.csv', sep='\t')
df_insurants = pd.read_csv('wig2/testdata/test.insurants.csv', sep='\t')
df_insurance_data = pd.read_csv('wig2/testdata/test.insurance_data.csv', sep='\t')
df_inpatient_cases = pd.read_csv('wig2/testdata/test.inpatient_cases.csv', sep='\t')
df_inpatient_diagnosis = pd.read_csv('wig2/testdata/test.inpatient_diagnosis.csv', sep='\t')
df_inpatient_fees = pd.read_csv('wig2/testdata/test.inpatient_fees.csv', sep='\t')
df_inpatient_procedures = pd.read_csv('wig2/testdata/test.inpatient_procedures.csv', sep='\t')
df_outpatient_cases = pd.read_csv('wig2/testdata/test.outpatient_cases.csv', sep='\t')
df_outpatient_diagnosis = pd.read_csv('wig2/testdata/test.outpatient_diagnosis.csv', sep='\t')
df_outpatient_fees = pd.read_csv('wig2/testdata/test.outpatient_fees.csv', sep='\t')
df_outpatient_procedures = pd.read_csv('wig2/testdata/test.outpatient_procedures.csv', sep='\t')

In [ ]:
def filter_by_timeframe(df, insurance_from_col, insurance_to_col, case_from_col, case_to_col):
    """
    Filters rows from the dataframe where the outpatient/inpatient case timeframe is outside the insurance timeframe.

    Parameters:
        df (pd.DataFrame): The dataframe to filter.
        insurance_from_col (str): Column name for the insurance 'from' date.
        insurance_to_col (str): Column name for the insurance 'to' date.
        case_from_col (str): Column name for the case 'from' date.
        case_to_col (str): Column name for the case 'to' date.

    Returns:
        pd.DataFrame: The filtered dataframe.
    """
    # Ensure columns are datetime for comparison
    df[insurance_from_col] = pd.to_datetime(df[insurance_from_col])
    df[insurance_to_col] = pd.to_datetime(df[insurance_to_col])
    df[case_from_col] = pd.to_datetime(df[case_from_col])
    df[case_to_col] = pd.to_datetime(df[case_to_col])
    
    # Apply filter condition
    filtered_df = df[
        (df[case_from_col] >= df[insurance_from_col]) & 
        (df[case_to_col] <= df[insurance_to_col])
    ]
    return filtered_df

In [ ]:
# Start with `df_insurants` as the base
df_universal = df_insurants
# Incremental joins
df_universal = pd.merge(df_universal, df_insurance_data, on='pid', how='left')

In [58]:
df_universal.shape

(3851, 7)

In [65]:
# 2 out of 11: insurance, insurance_data
df_universal.rename(columns={"from": "insurance_from", "to": "insurance_to"}, inplace=True)

In [67]:
df_outpatient_cases.rename(columns={"caseID": "outpatient_caseID","practice code": "outpatient_case_practice_code","from": "outpatient_case_from", 
                                    "to": "outpatient_case_to", "amount due": "outpatient_case_amout_due", "year": "outpatient_case_year",
                                    "quarter": "outpatient_case_quarter"}, inplace=True)

In [68]:
df_outpatient_cases

,pid,outpatient_caseID,outpatient_case_practice_code,outpatient_case_from,outpatient_case_to,outpatient_case_amout_due,outpatient_case_year,outpatient_case_quarter
0,72,76264259,720171600.0,2020-05-08,2020-05-08,27.381551,2020,2
1,763,21097556,823839918.0,2020-03-06,2020-03-06,45.813490,2020,1
2,189,166284976,786077570.0,2018-05-02,2018-06-20,178.931144,2018,2
3,782,154749062,105171228.0,2020-10-01,2020-12-05,61.119695,2020,4
4,254,147204667,514903431.0,2019-07-24,2019-07-24,71.476000,2019,3
...,...,...,...,...,...,...,...,...
14373,275,156219026,922806199.0,2018-10-07,2018-11-30,135.598197,2018,4
14374,98,70030426,358043182.0,2019-10-24,2019-10-24,30.537000,2019,4
14375,319,159568236,68123842.0,2019-07-31,2019-07-31,110.799100,2019,3
14376,405,197675847,750434802.0,2020-03-05,2020-03-05,39.314367,2020,1
14377,405,112173020,281519225.0,2018-08-23,2018-08-23,54.814607,2018,3

In [ ]:
# 3 out of 11: insurance, insurance_data, outpatient_cases
df_universal = pd.merge(df_universal, df_outpatient_cases, on='pid', how='left')

In [76]:
df_universal.shape

(54814, 14)

In [ ]:
# Show the result of the cartesian product
df_universal.loc[df_universal['pid'] == 1]

,pid,Year of birth,gender,insurance_from,insurance_to,death,regional_code,outpatient_caseID,outpatient_case_practice_code,outpatient_case_from,outpatient_case_to,outpatient_case_amout_due,outpatient_case_year,outpatient_case_quarter
0,1,1995,1,2020-11-01,2020-12-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,2018-09-13,30.075665,2018.0,3.0
1,1,1995,1,2020-01-01,2020-10-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,2018-09-13,30.075665,2018.0,3.0
2,1,1995,1,2019-01-01,2019-12-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,2018-09-13,30.075665,2018.0,3.0
3,1,1995,1,2018-01-01,2018-12-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,2018-09-13,30.075665,2018.0,3.0

In [79]:
df_universal = filter_by_timeframe(
    df_universal,
    insurance_from_col="insurance_from",
    insurance_to_col="insurance_to",
    case_from_col="outpatient_case_from",
    case_to_col="outpatient_case_to"
)

# Check the filtered dataframe
print(df_universal.shape)

(14159, 14)

In [80]:
df_universal.loc[df_universal['pid'] == 1]

,pid,Year of birth,gender,insurance_from,insurance_to,death,regional_code,outpatient_caseID,outpatient_case_practice_code,outpatient_case_from,outpatient_case_to,outpatient_case_amout_due,outpatient_case_year,outpatient_case_quarter
3,1,1995,1,2018-01-01,2018-12-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,2018-09-13,30.075665,2018.0,3.0

In [89]:
df_outpatient_fees = pd.read_csv('wig2/testdata/test.outpatient_fees.csv', sep='\t')
df_outpatient_fees.rename(columns={"caseID": "outpatient_caseID","physican code": "outpatient_fees_physician_code", "specialty code": "outpatient_fees_specialty_code",
                                   "billing code": "outpatient_fees_billing_code", "quantity": "outpatient_fees_quantity", "date": "outpatient_fees_date"}, inplace=True)
df_outpatient_fees

,pid,outpatient_caseID,outpatient_fees_physician_code,outpatient_fees_specialty_code,outpatient_fees_billing_code,outpatient_fees_quantity,outpatient_fees_date
0,63,374239,337800201.0,1.0,03061,1.0,2019-09-21
1,63,374239,337800201.0,1.0,32001,1.0,2019-09-21
2,63,374239,337800201.0,1.0,03040,1.0,2019-09-21
3,63,374239,337800201.0,1.0,03230,1.0,2019-09-21
4,63,374239,337800201.0,1.0,03060,1.0,2019-09-21
...,...,...,...,...,...,...,...
68298,172,1052546836,NaN,NaN,H0000,1.0,2018-09-22
68299,172,1052546836,NaN,NaN,H0000,1.0,2018-07-07
68300,172,1052546836,NaN,NaN,HP2,1.0,2018-07-06
68301,172,1052546836,NaN,NaN,HP3,1.0,2018-07-06
68302,172,1052546836,NaN,NaN,H0000,1.0,2018-07-06

In [90]:
# 4 out of 11: insurance, insurance_data, outpatient_cases, outpatient_fees
df_universal = pd.merge(df_universal, df_outpatient_fees, on=['pid', 'outpatient_caseID'], how='left')

In [92]:
df_universal

,pid,Year of birth,gender,insurance_from,insurance_to,death,regional_code,outpatient_caseID,outpatient_case_practice_code,outpatient_case_from,outpatient_case_to,outpatient_case_amout_due,outpatient_case_year,outpatient_case_quarter,outpatient_fees_physician_code,outpatient_fees_specialty_code,outpatient_fees_billing_code,outpatient_fees_quantity,outpatient_fees_date
0,1,1995,1,2018-01-01,2018-12-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,2018-09-13,30.075665,2018.0,3.0,610229105.0,5.0,06222,1.0,2018-09-13
1,1,1995,1,2018-01-01,2018-12-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,2018-09-13,30.075665,2018.0,3.0,610229105.0,5.0,06220,1.0,2018-09-13
2,1,1995,1,2018-01-01,2018-12-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,2018-09-13,30.075665,2018.0,3.0,610229105.0,5.0,06225E,1.0,2018-09-13
3,1,1995,1,2018-01-01,2018-12-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,2018-09-13,30.075665,2018.0,3.0,610229105.0,5.0,06220T,1.0,2018-09-13
4,1,1995,1,2018-01-01,2018-12-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,2018-09-13,30.075665,2018.0,3.0,610229105.0,5.0,06225T,1.0,2018-09-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67221,1000,1970,1,2020-01-01,2020-12-31,0.0,8.0,13347761.0,58209611.0,2020-11-08,2020-11-08,47.837807,2020.0,4.0,636052610.0,10.0,18220,1.0,2020-11-08
67222,1000,1970,1,2020-01-01,2020-12-31,0.0,8.0,13347761.0,58209611.0,2020-11-08,2020-11-08,47.837807,2020.0,4.0,636052610.0,10.0,32001,1.0,2020-11-08
67223,1000,1970,1,2020-01-01,2020-12-31,0.0,8.0,13347761.0,58209611.0,2020-11-08,2020-11-08,47.837807,2020.0,4.0,636052610.0,10.0,18222,1.0,2020-11-08
67224,1000,1970,1,2020-01-01,2020-12-31,0.0,8.0,13347761.0,58209611.0,2020-11-08,2020-11-08,47.837807,2020.0,4.0,636052610.0,10.0,30201,1.0,2020-11-08
67225,1000,1970,1,2020-01-01,2020-12-31,0.0,8.0,13347761.0,58209611.0,2020-11-08,2020-11-08,47.837807,2020.0,4.0,636052610.0,10.0,18211,1.0,2020-11-08

In [94]:
df_outpatient_fees.loc[df_outpatient_fees['pid'] == 1]

,pid,outpatient_caseID,outpatient_fees_physician_code,outpatient_fees_specialty_code,outpatient_fees_billing_code,outpatient_fees_quantity,outpatient_fees_date
38058,1,4908567,610229105.0,5.0,06222,1.0,2018-09-13
38059,1,4908567,610229105.0,5.0,06220,1.0,2018-09-13
38060,1,4908567,610229105.0,5.0,06225E,1.0,2018-09-13
38061,1,4908567,610229105.0,5.0,06220T,1.0,2018-09-13
38062,1,4908567,610229105.0,5.0,06225T,1.0,2018-09-13

In [123]:
df_universal.loc[df_universal['pid'] == 1]

,pid,Year of birth,gender,insurance_from,insurance_to,death,regional_code,outpatient_caseID,outpatient_case_practice_code,outpatient_case_from,outpatient_case_to,outpatient_case_amout_due,outpatient_case_year,outpatient_case_quarter,outpatient_fees_physician_code,outpatient_fees_specialty_code,outpatient_fees_billing_code,outpatient_fees_quantity,outpatient_fees_date
0,1,1995,1,2018-01-01,2018-12-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,2018-09-13,30.075665,2018.0,3.0,610229105.0,5.0,06222,1.0,2018-09-13
1,1,1995,1,2018-01-01,2018-12-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,2018-09-13,30.075665,2018.0,3.0,610229105.0,5.0,06220,1.0,2018-09-13
2,1,1995,1,2018-01-01,2018-12-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,2018-09-13,30.075665,2018.0,3.0,610229105.0,5.0,06225E,1.0,2018-09-13
3,1,1995,1,2018-01-01,2018-12-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,2018-09-13,30.075665,2018.0,3.0,610229105.0,5.0,06220T,1.0,2018-09-13
4,1,1995,1,2018-01-01,2018-12-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,2018-09-13,30.075665,2018.0,3.0,610229105.0,5.0,06225T,1.0,2018-09-13

In [ ]:
df_outpatient_procedures = pd.read_csv('wig2/testdata/test.outpatient_procedures.csv', sep='\t')
df_outpatient_procedures.rename(columns={"caseID": "outpatient_caseID", "procedure code": "outpatient_procedure_code", "localisation": "outpatient_procedure_localisation",
                                         "date of procedure": "outpatient_procedure_date"}, inplace=True)
df_outpatient_procedures

,pid,outpatient_caseID,outpatient_procedure_code,outpatient_procedures_localisation,outpatient_procedure_date
0,527,288793,5-142.2,1.0,2021-07-19
1,527,288793,5-142.2,2.0,2021-07-19
2,551,3765687,5-156.9,2.0,2020-10-21
3,393,4108489,5-385.70,1.0,2020-02-16
4,232,4654625,1-650.2,NaN,2020-01-05
...,...,...,...,...,...
114,551,200377624,5-156.9,1.0,2021-06-14
115,551,200377624,5-156.9,2.0,2021-06-14
116,551,200804681,5-156.9,2.0,2020-02-10
117,351,202453658,5-780.6w,2.0,2020-10-06
118,76,209530248,5-224.4,3.0,2021-01-20

In [126]:
df_outpatient_procedures.loc[df_outpatient_procedures['pid'] == 527]

,pid,outpatient_caseID,outpatient_procedure_code,outpatient_procedures_localisation,outpatient_procedure_date
0,527,288793,5-142.2,1.0,2021-07-19
1,527,288793,5-142.2,2.0,2021-07-19

In [128]:
df_universal = pd.merge(df_universal, df_outpatient_procedures, on=['pid', 'outpatient_caseID'], how='left')
df_universal

,pid,Year of birth,gender,insurance_from,insurance_to,death,regional_code,outpatient_caseID,outpatient_case_practice_code,outpatient_case_from,...,outpatient_fees_specialty_code,outpatient_fees_billing_code,outpatient_fees_quantity,outpatient_fees_date,outpatient_procedure_code_x,outpatient_procedures_localisation_x,outpatient_procedure_date_x,outpatient_procedure_code_y,outpatient_procedures_localisation_y,outpatient_procedure_date_y
0,1,1995,1,2018-01-01,2018-12-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,...,5.0,06222,1.0,2018-09-13,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1995,1,2018-01-01,2018-12-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,...,5.0,06220,1.0,2018-09-13,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1995,1,2018-01-01,2018-12-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,...,5.0,06225E,1.0,2018-09-13,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1995,1,2018-01-01,2018-12-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,...,5.0,06220T,1.0,2018-09-13,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1995,1,2018-01-01,2018-12-31,0.0,16.0,4908567.0,658930651.0,2018-09-13,...,5.0,06225T,1.0,2018-09-13,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67520,1000,1970,1,2020-01-01,2020-12-31,0.0,8.0,13347761.0,58209611.0,2020-11-08,...,10.0,18220,1.0,2020-11-08,NaN,NaN,NaN,NaN,NaN,NaN
67521,1000,1970,1,2020-01-01,2020-12-31,0.0,8.0,13347761.0,58209611.0,2020-11-08,...,10.0,32001,1.0,2020-11-08,NaN,NaN,NaN,NaN,NaN,NaN
67522,1000,1970,1,2020-01-01,2020-12-31,0.0,8.0,13347761.0,58209611.0,2020-11-08,...,10.0,18222,1.0,2020-11-08,NaN,NaN,NaN,NaN,NaN,NaN
67523,1000,1970,1,2020-01-01,2020-12-31,0.0,8.0,13347761.0,58209611.0,2020-11-08,...,10.0,30201,1.0,2020-11-08,NaN,NaN,NaN,NaN,NaN,NaN
67524,1000,1970,1,2020-01-01,2020-12-31,0.0,8.0,13347761.0,58209611.0,2020-11-08,...,10.0,18211,1.0,2020-11-08,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
df_universal.loc[df_universal['pid'] == 527]

,pid,Year of birth,gender,insurance_from,insurance_to,death,regional_code,outpatient_caseID,outpatient_case_practice_code,outpatient_case_from,...,outpatient_fees_specialty_code,outpatient_fees_billing_code,outpatient_fees_quantity,outpatient_fees_date,outpatient_procedure_code_x,outpatient_procedures_localisation_x,outpatient_procedure_date_x,outpatient_procedure_code_y,outpatient_procedures_localisation_y,outpatient_procedure_date_y
35944,527,1944,1,2018-01-01,2018-12-31,0.0,14.0,50626975.0,843745567.0,2018-04-01,...,3.0,03230,1.0,2018-05-09,NaN,NaN,NaN,NaN,NaN,NaN
35945,527,1944,1,2018-01-01,2018-12-31,0.0,14.0,50626975.0,843745567.0,2018-04-01,...,3.0,03230,1.0,2018-04-25,NaN,NaN,NaN,NaN,NaN,NaN
35946,527,1944,1,2018-01-01,2018-12-31,0.0,14.0,50626975.0,843745567.0,2018-04-01,...,3.0,03362,1.0,2018-04-25,NaN,NaN,NaN,NaN,NaN,NaN
35947,527,1944,1,2018-01-01,2018-12-31,0.0,14.0,50626975.0,843745567.0,2018-04-01,...,3.0,03221,1.0,2018-04-25,NaN,NaN,NaN,NaN,NaN,NaN
35948,527,1944,1,2018-01-01,2018-12-31,0.0,14.0,50626975.0,843745567.0,2018-04-01,...,3.0,03230,1.0,2018-04-01,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36099,527,1944,1,2019-01-01,2019-12-31,0.0,14.0,169078112.0,830095166.0,2019-09-26,...,10.0,30420A,1.0,2019-09-26,NaN,NaN,NaN,NaN,NaN,NaN
36100,527,1944,1,2019-01-01,2019-12-31,0.0,14.0,169078112.0,830095166.0,2019-09-26,...,10.0,30201,1.0,2019-09-26,NaN,NaN,NaN,NaN,NaN,NaN
36101,527,1944,1,2019-01-01,2019-12-31,0.0,14.0,169078112.0,830095166.0,2019-09-26,...,10.0,18227,1.0,2019-09-26,NaN,NaN,NaN,NaN,NaN,NaN
36102,527,1944,1,2019-01-01,2019-12-31,0.0,14.0,169078112.0,830095166.0,2019-09-26,...,10.0,18212,1.0,2019-09-26,NaN,NaN,NaN,NaN,NaN,NaN
36103,527,1944,1,2019-01-01,2019-12-31,0.0,14.0,169078112.0,830095166.0,2019-09-26,...,10.0,32001,1.0,2019-09-26,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
df_outpatient_diagnosis = pd.read_csv('wig2/testdata/test.outpatient_diagnosis.csv', sep='\t')
df_outpatient_diagnosis.rename(columns={"caseID": "outpatient_caseID", "diagnosis": "outpatient_diagnosis", "qualification": "outpatient_procedure_diagnosis",
                                "localisation": "outpatient_procedures_localisation"})

,pid,outpatient_caseID,outpatient_diagnosis,outpatient_procedure_diagnosis,outpatient_procedures_localisation
0,421,575334,R522,G,NaN
1,421,575334,N310,G,NaN
2,421,575334,M359,G,NaN
3,421,575334,J411,G,NaN
4,421,575334,I259,G,NaN
...,...,...,...,...,...
88412,360,1054095177,M321,G,NaN
88413,360,1054095177,L930,G,NaN
88414,360,1054095177,L509,G,NaN
88415,360,1054095177,L508,G,NaN
88416,360,1054095177,I6209,G,NaN

In [107]:
df_outpatient_diagnosis.loc[df_outpatient_diagnosis['pid'] == 1]

      pid   caseID diagnosis qualification  localisation
7208    1  4908567      M350             G           3.0
7209    1  4908567      H522             G           3.0
7210    1  4908567      H521             G           3.0
7211    1  4908567      H311             G           3.0
7212    1  4908567      H193             G           NaN
7213    1  4908567      H041             G           3.0

In [ ]:

df_universal = pd.merge(df_universal, df_outpatient_diagnosis, on=['pid', 'caseID'], how='left')

df_universal = pd.merge(df_universal, df_inpatient_cases, on='pid', how='left')
df_universal = pd.merge(df_universal, df_inpatient_diagnosis, on=['pid', 'caseID'], how='left')
df_universal = pd.merge(df_universal, df_inpatient_fees, on=['pid', 'caseID'], how='left')
df_universal = pd.merge(df_universal, df_inpatient_procedures, on=['pid', 'caseID'], how='left')
df_universal = pd.merge(df_universal, df_drugs, on='pid', how='left')

In [111]:
df_outpatient_procedures

     pid     caseID procedure code  localisation date of procedure
0    527     288793        5-142.2           1.0        2021-07-19
1    527     288793        5-142.2           2.0        2021-07-19
2    551    3765687        5-156.9           2.0        2020-10-21
3    393    4108489       5-385.70           1.0        2020-02-16
4    232    4654625        1-650.2           NaN        2020-01-05
..   ...        ...            ...           ...               ...
114  551  200377624        5-156.9           1.0        2021-06-14
115  551  200377624        5-156.9           2.0        2021-06-14
116  551  200804681        5-156.9           2.0        2020-02-10
117  351  202453658       5-780.6w           2.0        2020-10-06
118   76  209530248        5-224.4           3.0        2021-01-20

[119 rows x 5 columns]

In [118]:
a = df_outpatient_procedures['pid'].unique()
print(sorted(a))

[np.int64(10), np.int64(12), np.int64(15), np.int64(66), np.int64(76), np.int64(84), np.int64(88), np.int64(90), np.int64(91), np.int64(96), np.int64(112), np.int64(115), np.int64(128), np.int64(135), np.int64(166), np.int64(179), np.int64(194), np.int64(227), np.int64(232), np.int64(239), np.int64(261), np.int64(268), np.int64(315), np.int64(316), np.int64(320), np.int64(322), np.int64(327), np.int64(328), np.int64(330), np.int64(338), np.int64(351), np.int64(353), np.int64(390), np.int64(393), np.int64(396), np.int64(399), np.int64(412), np.int64(420), np.int64(428), np.int64(483), np.int64(517), np.int64(519), np.int64(521), np.int64(527), np.int64(541), np.int64(548), np.int64(551), np.int64(575), np.int64(586), np.int64(592), np.int64(596), np.int64(597), np.int64(634), np.int64(635), np.int64(648), np.int64(675), np.int64(696), np.int64(697), np.int64(716), np.int64(719), np.int64(731), np.int64(763), np.int64(776), np.int64(779), np.int64(807), np.int64(809), np.int64(842), np.int64(846), np.int64(901), np.int64(915), np.int64(916), np.int64(946), np.int64(955), np.int64(983), np.int64(988)]

In [108]:
df_drugs

,pid,date of prescription,date of dispense,pharma central number,specialty of prescriber,physican code,practice code,quantity,amount due,atc,ddd
0,542,2020-04-24,2020-04-26,6444040,52.0,11441752.0,462545519.0,2.0,28.30,N02BB02,8.333
1,35,2019-06-21,2019-06-23,3507952,15.0,100231815.0,118275942.0,1.0,16.27,N02BB02,16.667
2,590,2020-11-27,2020-11-27,3507952,1.0,86391701.0,675905294.0,1.0,16.27,N02BB02,16.667
3,345,2020-02-01,2020-02-02,2754708,1.0,650812501.0,861471675.0,1.0,14.54,H03AA01,50.000
4,345,2020-04-19,2020-04-23,2754708,1.0,650812501.0,861471675.0,1.0,14.54,H03AA01,50.000
...,...,...,...,...,...,...,...,...,...,...,...
9394,384,2018-12-15,2018-12-20,4596863,0.0,621898700.0,14632358.0,1.0,31.56,P01BA02,30.039
9395,814,2018-12-14,2018-12-20,4596863,31.0,768128631.0,794650148.0,1.0,31.56,P01BA02,30.039
9396,581,2018-04-07,2018-04-07,4596863,1.0,363816801.0,893595739.0,1.0,31.56,P01BA02,30.039
9397,581,2018-07-08,2018-07-18,4596863,1.0,363816801.0,893595739.0,1.0,31.56,P01BA02,30.039
9398,581,2018-10-18,2018-10-24,4596863,1.0,363816801.0,893595739.0,1.0,31.56,P01BA02,30.039

In [109]:
df_drugs.loc[df_drugs['pid'] == 1]

,pid,date of prescription,date of dispense,pharma central number,specialty of prescriber,physican code,practice code,quantity,amount due,atc,ddd
2002,1,2020-12-13,2020-12-14,7387887,1.0,999393101.0,793529553.0,1.0,12.42,N02BB02,3.333